{% extends "chtor/base.html" %}
{% load chtor_extags %}

{% block ext_static %}
<script>
$(document).ready(function(){
	

})
</script>
{% endblock ext_static %}
{% block bodier %}
<div class="col-sm-12 col-sm-push-12 col-md-push-0 col-md-8">
		<div  class="tor_tabs_bl active">
		{% if not request.user.is_authenticated %}
			HERE WILL BE LIST OF TOUR's
		{% else %}
			{% if tournaments %}
				{% for tour in tournaments %}
					<a href="{% url 'chtor:tournament' tour.id %}">{{tour}}</a>
				{% endfor%}
			{%endif%}
		{%endif%}
		</div>

</div>
{% endblock bodier %}