{% extends "chtor_admin/auth_base.html" %}
{% load staticfiles %}

{% block title %}
		Confirm Reset Password
{% endblock title %}

{% block auth_form %}
	<div id="login-access" class="tab-pane fade active in">
		<ul id="top-bar" class="nav nav-tabs nav-justified">
			<li class="active">
				<h3>Reset Password</h3>
				<h6>Please enter your new password.</h6>
			</li>
		</ul>			
		<form action="" method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
			{% csrf_token %}
			<div class="form-group " style="margin-top:10px;">
				<input type="password" class="form-control" name="new_pass" id="password" placeholder="New Password" value="" tabindex="2" />
			</div>
			<div class="form-group " style="margin-top:10px;">
				<input type="password" class="form-control" name="c_new_pass" id="password" placeholder="Confirm New Password" value="" tabindex="2" />
			</div>
			<br/>
			<div class="form-group ">		
				<button type="submit" id="submit" tabindex="5" name="reset_pass" value="True" class="btn btn-lg btn-primary">Reset password</button>
			</div>
		</form>
		<center>
			 <a href="{% url 'chtor_adm:auth' %}">Back to Login</a>
		</center>		
	</div>
{% endblock auth_form %}