{% extends "chtor_admin/auth_base.html" %}
{% load staticfiles %}

{% block title %}
		Reset Password
{% endblock title %}

{% block auth_form %}
	<div id="login-access" class="tab-pane fade active in">
		<ul id="top-bar" class="nav nav-tabs nav-justified">
			<li class="active">
					<h3>Forgot Password</h3>
					<h6>Please enter your email address, and we'll send you a password reset email.</h6>
			</li>
		</ul>			
		<form action="{% url 'chtor_adm:auth' 'reset_password' %}" method="post" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal">
			{% csrf_token %}
			<div class="form-group ">
				<input type="text" class="form-control" name="reset_email" id="login_value" placeholder="Email" tabindex="1" value="" />
			</div>
			<br/>
			<div class="form-group ">				
				<button type="submit" id="submit" tabindex="5" name="reset_pass" value="True" class="btn btn-lg btn-primary">Send email</button>
			</div>
		</form>
		<center>
			 <a href="{% url 'chtor_adm:auth' %}">Back to Login</a>
		</center>		
	</div>
{% endblock auth_form %}