{% extends "chtor_admin/auth_base.html" %}
{% load staticfiles %}

{% block title %}
		Reset Password
{% endblock title %}

{% block ext_static %}
<style>
.login-body {
	width:440px !important;
	left:40% !important;
}
</style>
{% endblock ext_static %}

{% block auth_form %}
	<div id="login-access" class="tab-pane fade active in">
		<ul id="top-bar" class="nav nav-tabs nav-justified">
			<li class="active">
					<h3>Reset Password</h3>
					<h5>Email has been sent to <u>{{email}}</u> email address. Please check its inbox to continue reseting password.</h6>
			</li>
		</ul>
		<small style="color:#aaa">
			 <a href="{% url 'chtor_adm:auth' %}">Back to Login</a>
		</small>		
	</div>
{% endblock auth_form %}